# Build outputs
target
dist
*.gz
*.r1cs
*.proof
*.wtns
out
.next
.cache
Prover.toml
garaga-venv
.turbo
node_modules

# OS & Env
.DS_Store
.env
.env.*
*.log
.tool-versions
.accounts.json

# VSCode
.vscode/
